@use "../abstracts/variables" as v;

// Main Font
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
    font-family: v.$font-league;
    font-size: 2rem;
    font-weight: 700;

    transition: background-color 300ms ease-in-out;
    // ??? May cause some problems in future 
    width: 100vw;
    height: 100vh;
    height: 100dvh;
}

*, *::before, *::after {
    box-sizing: inherit;
}